.notfound-back{
    border:.0625rem solid grey;
    background:#7f7f7fa4;
    border-radius:1.875rem;
    padding:.3125rem 1.875rem;
    &:hover{
        box-shadow: -0.25rem .5625rem .875rem 0rem rgba(227,227,227,0.75) inset;
        -webkit-box-shadow: -0.25rem .5625rem .875rem 0rem rgba(227,227,227,0.75) inset;
        -moz-box-shadow: -0.25rem .5625rem .875rem 0rem rgba(227,227,227,0.75) inset;
    }
}