/* ========= VARIABLES =========== */
:root {
  /* Colores medieval fantasy */
  --color-bg: #2f2f2f; /* Fondo principal oscuro (piedra/caverna) */
  --color-pergamino: #f6f1e7; /* Fondo claro tipo pergamino */
  --color-dragon: #8b0000; /* Rojo dragón para acciones intensas */
  --color-arcane: #5e4b8b; /* Azul arcano para enlaces y detalles mágicos */
  --color-rune: #c9b037; /* Amarillo runa para hover y acentos */
  --color-forge: #bdbdbd; /* Gris forja para elementos neutros */
  --color-druid: #2c5e4a; /* Verde druídico para fondos suaves */

  /* Tipografía */
  --font-main: "Cinzel Decorative", serif;
  --font-regular: "Lora", serif;

  /* Escala tipográfica */
  --text-main: 2.25rem;
  --text-sub: 1.5rem;
  --text-body: 1.2rem;
}

/* ====== GENERAL ====== */
* {
  font-family: var(--font-regular);
  scroll-behavior: smooth;
}

body {
  background-color: var(--color-druid);
  color: var(--color-pergamino);
  font-size: var(--text-body);
  padding-top:32px;
}
h1,
h2 {
  font-family: var(--font-main);
}

/* ====== Botones ====== */
.button,
.close,
.qtyButton,
.error-back {
  font-family: var(--font-regular);
  border-radius: 8px;
  font-weight: 600;
  transition: background-color 0.3s ease;
}

.close {
  padding: 0 .625rem;
}
.close:hover {
  background-color: var(--color-rune);
  color: var(--color-bg);
}

.qtyButton {
  background-color: var(--color-dragon);
  color: var(--color-pergamino);
}
.qtyButton:hover {
  background-color: var(--color-bg);
}

/* =========================
 NAVBAR
========================= */
header {
  position: fixed;
  top: 0;
  width: 100dvw;
  z-index: 200;
  box-shadow: 0 .125rem .3125rem rgba(0, 0, 0, 0.1);
}
.navbar-list {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  gap:3rem;
  align-items: center;
  margin: 0;
}

/* =========================
  CART DRAWER
========================= */
.cart-drawer {
  position: fixed;
  top: 0;
  right: 0;
  width:100%;
  height: 100%;
  background: var(--color-pergamino);
  color: var(--color-dragon);
  box-shadow: -0.125rem 0 .625rem rgba(0, 0, 0, 0.2);
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
  z-index: 999;
  overflow-y: auto;

}
.cart-drawer.open {
  transform: translateX(0%);
}

/* =========================
    SECCIONES
========================= */
.contact-title{
  text-align: center;
  font-size: clamp(1.6rem, .175rem + 3vw, 3.5rem);
  font-weight: bold;
  color:var(--color-dragon);
}
.text-main{
  font-size:clamp(1.125rem, -0.0563rem + 4.5070vw, 1.5rem);
}
.text-display{
    font-size:clamp(2.5rem, -0.0563rem + 4.5070vw, 4rem);
}
.admin-panel{
  background-color:var(--color-dragon);
  width:100dvw;
  font-size: clamp(1.5rem,-0.0563rem + 4.5070vw,2.25rem);
  text-align: center; 
}/* 
.edicion{
  background:var(--color-arcane);
}
.creacion{
  background:red;
  
}
.creacion h2{
  color:var(--color-rune);
  font-weight: bolder;
  text-decoration: underline;
}
.creacion label{
font-weight: bold;
}
.creacion input{
  background:var(--color-rune);
  border-radius: 5px;
  border:1px solid black;
  box-shadow: inset 0px 5px 28px 4px rgba(0,0,0,0.1);
  color:black;
  &:hover{
   background:red; 
  }
} */
/* =========================
   TARJETAS
========================= */
.cardAbout {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15.625rem, 1fr));
  max-width: 67.5rem;
  margin: 0 auto;
  gap: 24px;
  padding: 1rem;
}

.cardProdContainer {
  animation: fadeIn 0.5s ease-in;
}

/* =========================
   ADMIN
========================= */
.admin {
  background: url("../images/bg-admin.jpg");
  display: flex;
}
.admin-login {
  background: var(--color-druid);
  margin: auto;
  height: 43.75rem;
  width: 31.25rem;
}
/* =========================
   ERROR
========================= */
.error {
  height: 100%;
  background: #ffbc2c;
  display: flex;
  justify-content: center;
}

.error img {
  height: 100dvh;
}

.error-back {
  border: .1875rem solid #996e11;
  background: #ffc547;
  border-radius: .9375rem;
  font-size: 1.75rem;
  padding: .3125rem 1.875rem;
  color: #4a3402;
}

.error-back:hover {
  background: #4a3402;
  color: #ffc547;
}

.error-back:active {
  border: .375rem solid #996e11;
}
/* =========================
   ANIMACIONES
========================= */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(.625rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
