/* ========= VARIABLES =========== */
:root {
  /* Colores */
  --color-background: #1e1b18;
  --color-parchment: #f5ebd0;
  --color-dragon: #a42e2c;
  --color-arcane: #3a4f9a;
  --color-rune: #e7b81e;
  --color-forge: #6c6c6c;
  --color-druid: #567219b4;

  /* Tipografía */
  --font-primary: "Poppins", sans-serif;

  /* Ejemplo de escala tipográfica */
  --text-display: 3.75rem;
  --text-title-1: 2.25rem;
  --text-title-2: 1.5rem;
  --text-body: 1rem;
  --text-small: 0.875rem;
}
/* GENERAL */
* {
  font-family: var(--font-primary);
}
body {
  background-color: var(--color-druid);
  color: var(--color-parchment);
  
}
h1 {
  font-size: var(--text-title-1);
}

/* ====== Enlaces ====== */

.link {
  color: var(--color-rune);
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
  text-transform: capitalize;
  &:hover {
    text-decoration: underline;
  }
  &:active {
    background-color: var(--color-parchment);
    color: var(--color-background);
    border-radius: 5px;
    padding: 5px 10px;
  }
}
/* ====== Botones ====== */

.button,
.close,
.qtyButton,
.error-back {
  font-family: var(--font-primary);
  border-radius: 0.5rem;
  font-weight: 600;
  transition: background-color 0.3s ease;
}

.close {
  background-color: var(--color-dragon);
  color: var(--color-parchment);
  padding: 0 10px;
}

.close:hover {
  background-color: var(--color-rune);
  color: var(--color-background);
}

.qtyButton {
  background-color: var(--color-forge);
  color: var(--color-parchment);
  transition: background-color 0.2s;
}

/* =========================
 NAVBAR
========================= */
nav ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0;
}

/* =========================
  CART DRAWER
========================= */
.cart-drawer {
  position: fixed;
  top: 0;
  right: 0;
  width: 300px;
  height: 100%;
  background: var(--color-parchment);
  color: var(--color-dragon);
  box-shadow: -2px 0 10px rgba(0, 0, 0, 0.2);
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
  z-index: 999;
  overflow-y: auto;
}

.cart-drawer.open {
  transform: translateX(0%);
}

/* =========================
    SECCIONES
========================= */
.section {
  height: 100dvh;
}

/* =========================
   TARJETAS
========================= */
.cardAbout {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  max-width: 1080px;
  margin: 0 auto;
  gap: 1.5rem;
  padding: 16px;
}

.cardProdContainer {
  animation: fadeIn 0.5s ease-in;
}

/* =========================
   ICONOS
========================= */
.fa-cart-shopping {
  color: var(--color-dragon);
}

/* =========================
   ERROR
========================= */
.error {
  height: 100%;
  background: #ffbc2c;
  display: flex;
  justify-content: center;
}

.error img {
  height: 100dvh;
}

.error-back {
  border: 3px solid #996e11;
  background: #ffc547;
  border-radius: 15px;
  font-size: 28px;
  padding: 5px 30px;
  color: #4a3402;
}

.error-back:hover {
  background: #4a3402;
  color: #ffc547;
}

.error-back:active {
  border: 6px solid #996e11;
}

/* =========================
   ANIMACIONES
========================= */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
